
<div *ngIf="extraUser">
    <h2><span>Extra User</span> {{extraUser.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Extra Info</span></dt>
        <dd>
            <span>{{extraUser.extraInfo}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{extraUser.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'extra-user/'+ extraUser.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
