
<div *ngIf="purchaseOrder">
    <h2><span>Purchase Order</span> {{purchaseOrder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Po Number</span></dt>
        <dd>
            <span>{{purchaseOrder.poNumber}}</span>
        </dd>
        <dt><span>Order Date</span></dt>
        <dd>
            <span>{{purchaseOrder.orderDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Company</span></dt>
        <dd>
            <div *ngIf="purchaseOrder.company">
                <a [routerLink]="['/company', purchaseOrder.company?.id]">{{purchaseOrder.company?.companyName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'purchase-order/'+ purchaseOrder.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
